body {
  cursor: default;
  padding: 0;
  border: 0;
  margin: 0;

  text-align: center;
  background: #282634 url('bg.jpg') fixed no-repeat;
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

body, canvas, div {
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove spin of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#Cocos2dGameContainer {
  position: absolute;
  margin: 0;
  overflow: hidden;
  left: 0px;
  top: 0px;
}

canvas {
  background-color: rgba(0, 0, 0, 0);
}

@media all and (max-width: 105px) and (min-width: 95px) and (orientation: portrait) {
canvas {
    width: 95px;
    height: 59px;
}

#GameDiv {
  width: 95px;
  height: 59px;
}
}

@media all and (max-width: 105px) and (min-width: 95px) and (orientation: landscape) {
canvas {
    width: 85px;
    height: 53px;
}

#GameDiv {
  width: 85px;
  height: 53px;
}
}

@media all and (max-width: 117px) and (min-width: 106px) and (orientation: portrait) {
canvas {
    width: 106px;
    height: 66px;
}

#GameDiv {
  width: 106px;
  height: 66px;
}
}

@media all and (max-width: 117px) and (min-width: 106px) and (orientation: landscape) {
canvas {
    width: 95px;
    height: 59px;
}

#GameDiv {
  width: 95px;
  height: 59px;
}
}

@media all and (max-width: 130px) and (min-width: 118px) and (orientation: portrait) {
canvas {
    width: 118px;
    height: 73px;
}

#GameDiv {
  width: 118px;
  height: 73px;
}
}

@media all and (max-width: 130px) and (min-width: 118px) and (orientation: landscape) {
canvas {
    width: 106px;
    height: 66px;
}

#GameDiv {
  width: 106px;
  height: 66px;
}
}

@media all and (max-width: 145px) and (min-width: 131px) and (orientation: portrait) {
canvas {
    width: 131px;
    height: 81px;
}

#GameDiv {
  width: 131px;
  height: 81px;
}
}

@media all and (max-width: 145px) and (min-width: 131px) and (orientation: landscape) {
canvas {
    width: 117px;
    height: 73px;
}

#GameDiv {
  width: 117px;
  height: 73px;
}
}

@media all and (max-width: 162px) and (min-width: 146px) and (orientation: portrait) {
canvas {
    width: 146px;
    height: 91px;
}

#GameDiv {
  width: 146px;
  height: 91px;
}
}

@media all and (max-width: 162px) and (min-width: 146px) and (orientation: landscape) {
canvas {
    width: 131px;
    height: 81px;
}

#GameDiv {
  width: 131px;
  height: 81px;
}
}

@media all and (max-width: 181px) and (min-width: 163px) and (orientation: portrait) {
canvas {
    width: 163px;
    height: 101px;
}

#GameDiv {
  width: 163px;
  height: 101px;
}
}

@media all and (max-width: 181px) and (min-width: 163px) and (orientation: landscape) {
canvas {
    width: 146px;
    height: 91px;
}

#GameDiv {
  width: 146px;
  height: 91px;
}
}

@media all and (max-width: 202px) and (min-width: 182px) and (orientation: portrait) {
canvas {
    width: 182px;
    height: 113px;
}

#GameDiv {
  width: 182px;
  height: 113px;
}
}

@media all and (max-width: 202px) and (min-width: 182px) and (orientation: landscape) {
canvas {
    width: 163px;
    height: 101px;
}

#GameDiv {
  width: 163px;
  height: 101px;
}
}

@media all and (max-width: 225px) and (min-width: 203px) and (orientation: portrait) {
canvas {
    width: 203px;
    height: 126px;
}

#GameDiv {
  width: 203px;
  height: 126px;
}
}

@media all and (max-width: 225px) and (min-width: 203px) and (orientation: landscape) {
canvas {
    width: 182px;
    height: 113px;
}

#GameDiv {
  width: 182px;
  height: 113px;
}
}

@media all and (max-width: 251px) and (min-width: 226px) and (orientation: portrait) {
canvas {
    width: 226px;
    height: 141px;
}

#GameDiv {
  width: 226px;
  height: 141px;
}
}

@media all and (max-width: 251px) and (min-width: 226px) and (orientation: landscape) {
canvas {
    width: 203px;
    height: 126px;
}

#GameDiv {
  width: 203px;
  height: 126px;
}
}

@media all and (max-width: 279px) and (min-width: 252px) and (orientation: portrait) {
canvas {
    width: 252px;
    height: 157px;
}

#GameDiv {
  width: 252px;
  height: 157px;
}
}

@media all and (max-width: 279px) and (min-width: 252px) and (orientation: landscape) {
canvas {
    width: 226px;
    height: 141px;
}

#GameDiv {
  width: 226px;
  height: 141px;
}
}

@media all and (max-width: 310px) and (min-width: 280px) and (orientation: portrait) {
canvas {
    width: 280px;
    height: 175px;
}

#GameDiv {
  width: 280px;
  height: 175px;
}
}

@media all and (max-width: 310px) and (min-width: 280px) and (orientation: landscape) {
canvas {
    width: 252px;
    height: 157px;
}

#GameDiv {
  width: 252px;
  height: 157px;
}
}

@media all and (max-width: 345px) and (min-width: 311px) and (orientation: portrait) {
canvas {
    width: 311px;
    height: 194px;
}

#GameDiv {
  width: 311px;
  height: 194px;
}
}

@media all and (max-width: 345px) and (min-width: 311px) and (orientation: landscape) {
canvas {
    width: 279px;
    height: 174px;
}

#GameDiv {
  width: 279px;
  height: 174px;
}
}

@media all and (max-width: 384px) and (min-width: 346px) and (orientation: portrait) {
canvas {
    width: 346px;
    height: 216px;
}

#GameDiv {
  width: 346px;
  height: 216px;
}
}

@media all and (max-width: 384px) and (min-width: 346px) and (orientation: landscape) {
canvas {
    width: 311px;
    height: 194px;
}

#GameDiv {
  width: 311px;
  height: 194px;
}
}

@media all and (max-width: 427px) and (min-width: 385px) and (orientation: portrait) {
canvas {
    width: 385px;
    height: 240px;
}

#GameDiv {
  width: 385px;
  height: 240px;
}
}

@media all and (max-width: 427px) and (min-width: 385px) and (orientation: landscape) {
canvas {
    width: 346px;
    height: 216px;
}

#GameDiv {
  width: 346px;
  height: 216px;
}
}

@media all and (max-width: 475px) and (min-width: 428px) and (orientation: portrait) {
canvas {
    width: 428px;
    height: 267px;
}

#GameDiv {
  width: 428px;
  height: 267px;
}
}

@media all and (max-width: 475px) and (min-width: 428px) and (orientation: landscape) {
canvas {
    width: 385px;
    height: 240px;
}

#GameDiv {
  width: 385px;
  height: 240px;
}
}

@media all and (max-width: 528px) and (min-width: 476px) and (orientation: portrait) {
canvas {
    width: 476px;
    height: 297px;
}

#GameDiv {
  width: 476px;
  height: 297px;
}
}

@media all and (max-width: 528px) and (min-width: 476px) and (orientation: landscape) {
canvas {
    width: 428px;
    height: 267px;
}

#GameDiv {
  width: 428px;
  height: 267px;
}
}

@media all and (max-width: 587px) and (min-width: 529px) and (orientation: portrait) {
canvas {
    width: 529px;
    height: 330px;
}

#GameDiv {
  width: 529px;
  height: 330px;
}
}

@media all and (max-width: 587px) and (min-width: 529px) and (orientation: landscape) {
canvas {
    width: 476px;
    height: 297px;
}

#GameDiv {
  width: 476px;
  height: 297px;
}
}

@media all and (max-width: 653px) and (min-width: 588px) and (orientation: portrait) {
canvas {
    width: 588px;
    height: 367px;
}

#GameDiv {
  width: 588px;
  height: 367px;
}
}

@media all and (max-width: 653px) and (min-width: 588px) and (orientation: landscape) {
canvas {
    width: 529px;
    height: 330px;
}

#GameDiv {
  width: 529px;
  height: 330px;
}
}

@media all and (max-width: 726px) and (min-width: 654px) and (orientation: portrait) {
canvas {
    width: 654px;
    height: 408px;
}

#GameDiv {
  width: 654px;
  height: 408px;
}
}

@media all and (max-width: 726px) and (min-width: 654px) and (orientation: landscape) {
canvas {
    width: 588px;
    height: 367px;
}

#GameDiv {
  width: 588px;
  height: 367px;
}
}

@media all and (max-width: 807px) and (min-width: 727px) and (orientation: portrait) {
canvas {
    width: 727px;
    height: 454px;
}

#GameDiv {
  width: 727px;
  height: 454px;
}
}

@media all and (max-width: 807px) and (min-width: 727px) and (orientation: landscape) {
canvas {
    width: 654px;
    height: 408px;
}

#GameDiv {
  width: 654px;
  height: 408px;
}
}

@media all and (max-width: 897px) and (min-width: 808px) and (orientation: portrait) {
canvas {
    width: 808px;
    height: 505px;
}

#GameDiv {
  width: 808px;
  height: 505px;
}
}

@media all and (max-width: 897px) and (min-width: 808px) and (orientation: landscape) {
canvas {
    width: 727px;
    height: 454px;
}

#GameDiv {
  width: 727px;
  height: 454px;
}
}

@media all and (max-width: 997px) and (min-width: 898px) and (orientation: portrait) {
canvas {
    width: 898px;
    height: 561px;
}

#GameDiv {
  width: 898px;
  height: 561px;
}
}

@media all and (max-width: 997px) and (min-width: 898px) and (orientation: landscape) {
canvas {
    width: 808px;
    height: 505px;
}

#GameDiv {
  width: 808px;
  height: 505px;
}
}

@media all and (max-width: 1108px) and (min-width: 998px) and (orientation: portrait) {
canvas {
    width: 998px;
    height: 623px;
}

#GameDiv {
  width: 998px;
  height: 623px;
}
}

@media all and (max-width: 1108px) and (min-width: 998px) and (orientation: landscape) {
canvas {
    width: 898px;
    height: 561px;
}

#GameDiv {
  width: 898px;
  height: 561px;
}
}

@media all and (max-width: 1232px) and (min-width: 1109px) and (orientation: portrait) {
canvas {
    width: 1109px;
    height: 693px;
}

#GameDiv {
  width: 1109px;
  height: 693px;
}
}

@media all and (max-width: 1232px) and (min-width: 1109px) and (orientation: landscape) {
canvas {
    width: 998px;
    height: 623px;
}

#GameDiv {
  width: 998px;
  height: 623px;
}
}

@media all and (max-width: 1369px) and (min-width: 1233px) {
canvas {
    width: 1233px;
    height: 770px;
}

#GameDiv {
  width: 1233px;
  height: 770px;
}
}

@media all and (max-width: 1480px) and (min-width: 1370px) {
canvas {
    width: 1370px;
    height: 856px;
}

#GameDiv {
  width: 1370px;
  height: 856px;
}
}

@media all and (max-width: 1880px) and (min-width: 1481px){
canvas {
    width: 1480px;
    height: 925px;
}

#GameDiv {
  width: 1480px;
  height: 925px;
}
}

@media all and (min-width: 1881px) {
    canvas {
        width: 1600px;
        height: 1000px;
    }
    
    #GameDiv {
      width: 1600px;
      height: 1000px;
    }
}

a:link, a:visited {
  color: #706a91;
}

a:active, a:hover {
  color: #cfb489;
}

p.header {
  font-size: small;
}

p.footer {
  font-size: x-small;
  color: #706a91;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #282634 url(./splash.png) no-repeat center;
  background-size: 40%;
}

.progress-bar {
    background-color: #1a1a1a;
    position: absolute;
    left: 50%;
    top: 80%;
    height: 26px;
    padding: 5px;
    width: 350px;
    margin: 0 -175px;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out; 
    background-color: #bc2321;    
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(40, 38, 52, .15) 25%, transparent 25%,
                        transparent 50%, rgba(40, 38, 52, .15) 50%, rgba(40, 38, 52, .15) 75%,
                        transparent 75%, transparent);            
    
    animation: animate-stripes 1s linear infinite;             
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

h1 {
    color: #444;
    visibility: hidden;
}

#GameDiv {
    margin: 0 auto;
    background: white;
    position:relative;
}
